body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
     color: #000000;
    font-weight: normal;
    
}

h1 {
    font-family: Roboto,  Arial, sans-serif;
    font-size: 36px;
    color:  #000000;
      font-weight: bold;
    line-height: 36px;
}
h2 {
    font-family: Roboto,  Arial, sans-serif;
    font-size: 18px;
     color: #000000;
    font-weight: normal;
    line-height: 30px;
}
.clearfix:after{
    content:'';
    clear:both;
    display:table;
}
.main-header {
  margin-bottom: 80px;
 background-color: aquamarine;
    
}
.container{
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: azure;
    margin-bottom: 80px;
    }
.logo{
    width: 300px;
    float: left;
    background-color: burlywood; 
}
.main-navigation{
     width: 460px;
    float: left;
    background-color: indianred;
}
.basket{
     width: 100px;
    float: right;
    background-color: chartreuse;
}
.slider{
   width: 880px;
    padding: 0 10px;
    margin: 0 auto;
   
    background-color: yellow;  
}
.description{
   min-height: 220px; 
   width: 481px;
    float: left;
    background-color: green;   
}
.photo{
 min-height: 220px; 
   width: 340px;
    float: right;
    background-color: white;     
}
.about{
    display: inline-block;
   min-height: 39px;
  margin-bottom: 80px;
 }
.feature{
    float: left;
    width: 240px;
    margin-right: 80px;
}
.feature:last-child {
  margin-right: 0;
}
.info{
   margin-bottom: 75px;
  padding: 10px 10px;
    background-color: chartreuse;
}
.left{
    float: left;
    width: 620px;
   background-color: darkkhaki;
}
.right{
    float: right;
    width: 230px;
    background-color: darkgrey;
}
.clients a {
    width: 220px;
    display: inline-block;
    margin-right: 90px;
}
.clients a:last-child{
    margin-right: 0;
}
.content-left{
    float: left;
    width: 240px;
    background-color: aquamarine;
}
.content-right{
    float: right;
    width: 570px;
    background-color: hotpink;
  }
.gallery{
    font-size: 0;
}
.gallery a{
    display: inline-block;
    margin-right: 70px;
    margin-bottom: 80px;
    width:240px;
    vertical-align:top; 
}
.gallery a:nth-child(2n){
margin-right:0;
}
.map{
 background-image: url(../img/map.jpg);
 background-size: cover;
    height: 416px;
    }
.main-footer{
    background-color: pink;
}

.footer-social{
    float: left;
    width: 240px;
    margin-right: 70px;
}
.slogan{
    float: right;
    width: 550px;
}
