body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
        color: #000000;
    font-weight: normal;
   min-width: 900px; 
     background: #ffffff;
    }
img{
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: Roboto,  Arial, sans-serif;
    font-size: 36px;
    color:  #000000;
      font-weight: bold;
    line-height: 36px;
}
h2 {
    font-family: Roboto,  Arial, sans-serif;
    font-size: 18px;
     color: #000000;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;    
}
h3{
 font-family: Roboto,  Arial, sans-serif;
    font-size: 16px;
     color: #000000;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase; 
    }
.clearfix::after{
    content:'';
    clear:both;
    display:table;
}
.main-header {
  margin-bottom: 80px;
 background-color: #eeeeee;
    color: #000000; 
   }
.container{
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
     min-height: 110px;
       }
.logo{
    width: 139px;
    height: 56px;
    float: left;
    margin-right: 170px;
    margin-top: 27px;
  
}
.main-navigation {
     width: 460px;
    float: left;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-top: 60px;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
    margin-left: 40px;
    font-weight: 500;
}
.main-navigation a{
    display: block; 
     color: #000000;
  text-decoration: none;
  }  
.main-navigation a:hover{
  color: #f59b9d;
}
.main-navigation a:active{
  color: #cbcbcb;
}
.basket{
    max-width: 110px;
    float: right;
     text-transform: uppercase;
    margin-bottom: 47px;
    margin-top: 60px;
    }
.put {
    position: relative;
     display: inline-block;
      font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  color: #000000;
  text-decoration: none;
    padding-left: 30px;
        }
.put::before{
     position: absolute;
     content: url(../img/icon-basket.png);
    width: 15px;
    height: 15px;
    left: 0;
    top: 5px;
}
.put:hover{
 color: #f59b9d;
}
.slider-head{
   width: 880px;
    padding: 0 10px;
    margin: 0 auto;   
}
.topic{
    display:block;
   text-align: left;
    margin-top: 27px;
   }
.about a{
  display: inline-block;
  margin-top: 30px;
  padding: 11px 70px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  font-family: Roboto,  Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  outline: none; 
}
.about a:hover{
    background-color: #d6494d;
  }
.about a:active{
    background-color: #b63538;
  }
.description{
   min-height: 220px; 
   width: 481px;
    float: left;   
}
.photo{
width: 340px;
float: right;  
}
.about{
    display: inline-block;
   min-height: 39px;
  margin-bottom: 80px;
 }
.feature{
    float: left;
    width: 240px;
    margin-right: 80px;
}
.feature:last-child {
  margin-right: 0;
}
.feature p{
   font-size: 15px;
  font-weight: 500;
  line-height: 22px; 
}
.feature a{
  display: inline-block;
    width: 70px;
  margin-top: 20px;
    margin-bottom: 80px;
  padding: 11px 35px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  font-family: Roboto,  Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
background-color: #fb565a;
     width: 70px;
     }
.feature a:hover{
    background-color: #d6494d;
     width: 70px;
    }
.feature a:active{
    background-color: #b63538;
}
.feature a.app{
    background-color: #00ca74;
    width: 70px;
    }
.feature a.app:hover{
    background-color: #01a25e;
        width: 70px;
    }
.feature a.app:active{
    background-color: #009053;
    }
.feature a.present{
    background-color: #efc84a;
    width: 70px;
     }
.feature a.present:hover{
    background-color: #d6ae2c;
     width: 70px;
    }
.feature a.present:active{
    background-color: #c09b24;
    }
.info{
    padding: 0px 10px;
   border-top: 2px solid #f8f8f8;
   border-bottom: 2px solid #f8f8f8;
          }
.left{
    float: left;
    width: 600px;
   }
.right{
    float: right;
    width: 250px;
    margin-top: 55px;
   }
.slogan{
    font-size: 36px;
    font-weight: 500;
    margin-top: 70px;
    }
.clients a{
    display: inline-block;
     margin-top: 45px;
    padding-bottom: 33px;
    border-bottom: 2px solid #f8f8f8;
    vertical-align: middle;
    margin-right: 125px;
}
.clients a:last-child{
    margin-right: 0;
}
.content-left{
    float: left;
    width: 240px;
   }
.content-right{
    float: right;
    width: 570px;
     }
.gallery{
    font-size: 0;
}
.gallery a{
    display: inline-block;
    margin-right: 70px;
    margin-bottom: 80px;
    width:240px;
    vertical-align:top; 
}
.gallery a:nth-child(2n){
margin-right:0;
}
.promo{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 100px;
    bottom: 400px;
    background-color: #ffffff;
}
.action h3{
  line-height: 30px;
    text-align: center;
}
.action p{
    font-size: 14px;
    line-height: 18px;
    color: #a9a9a9;
    padding: 9px 25px;
}
.promo a{
    display: inline-block;
    margin-left: 25px;
    width: 140px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: 20px;
}
.map{
 background-image: url(../img/map.jpg);
 background-size: cover;
    height: 416px;
    position: relative;
    }
.map::after {
   position: absolute;
     content: url(../img/location.png);
    width: 231px;
    height: 190px;
    right:450px;
    bottom: 85px;
}
.contacts{
    position: absolute;
    width: 250px;
    height: 240px;
    left: 500px;
    top: 90px;
    background-color: #ffffff;
}
.address h3{
  line-height: 30px;
    text-align: center;
}
.address p{
    font-size: 16px;
    line-height: 20px;
    color: #a9a9a9;
    padding: 9px 25px;
}
.contacts a{
    display: inline-block;
    margin-left: 25px;
    width: 202px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    padding-top: 10px;
    margin-top: 20px;
}
.main-footer{
    margin-top: 85px;
}
 .end{
     display: block;
       float: right; 
     width: 570px;
     margin-top: 85px
         }
.end p{
    margin: 0;
    padding: 0;
    }

.footer-social{
    display: inline-block;
    float: left;
    margin-top: 85px;
       }
.social-button {
    display: inline-block;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    margin-right: 30px;
    background: #e1e1e1;
}
.social-button a:{
    margin-right: 0;
}
.social-button vk{
    background-image: url(../img/vk.png) no-repeat;
}
.footer-slogan{
    font-size: 36px;
    font-weight: 500;
       }
.discount{
    margin-bottom: 75px;
   font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.slogan ul{
  list-style: none;
     line-height: 45px;
    margin-top: 25px;
    margin-bottom: 73px;
     }
.left li::before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color:#fdbbbd;
    position: relative; 
    top: 25px;
    left: -35px;
}
.year{
   display: inline-block;
   margin-top: 25px;
  text-transform: uppercase;
    font-weight: 500;
}
.year::before{
    content: "";
    display: block;
    width: 65px;
    height: 2px;
    background-color:#f8f8f8;
    position: relative; 
    top: 13px;
    left: -80px;
}
.year::after{
    content: "";
    display: block;
    width: 65px;
    height: 2px;
    background-color:#f8f8f8;
    position: relative; 
    top: -10px;
    left: 100px;
}
.work{
   display: inline-block;
   margin-top: 25px; 
       }
.right li::before{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color:#fdbbbd;
    position: relative; 
    top: 25px;
    left: -35px;
}
.logotype{
    display: inline-block;
    vertical-align:top;
    text-align: center;
}
.range-filter {
  width: 240px;
  margin: 50px auto; /* для демонстрации */
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.sort li{
    display: inline-block;
    margin-right: 40px;
    }
.sort a{
    color: #e6e6e6;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px dashed #e0f9ee;
   }

.sort a:hover{
   color: #000000;
    border-bottom: 1px solid #8bd4b5;
}
.sort a:active{
color: #000000;
     }
.sort{
   margin-bottom: 55px;
}
.welcome{
    display: inline-block;
    vertical-align: top;
      padding: 10px 20px;
    font-size: 40px; 
   text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 90px;
}
.pagination {
    width: 400px;
    float: left;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
           }
.pagination a{
    display: block; 
    color: #000000;
  text-decoration: none;
    border: 2px solid #f1f1f1;
    padding: 12px 15px;
     background: #f1f1f1;
  }  
}
.pagination a:active{
     background: #ffffff;
}
.pagination .active{
    background-color: #ffffff;
}
.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
fieldset{
        border: none;
}
.list{
    display: block;
    padding: 15px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
legend{
    font-size: 18px;
    line-height: 30px;
    font-weight: 500; 
    text-transform: uppercase;   
}
.listing{
    display: block;
    padding: 15px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.pushbutton{
    width: 155px;
    height: 38px;
    margin-top: 55px;
    background-color: #f1f1f1;
    border: none;
        
}